@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Mada&family=Poppins:wght@200;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh; /*100 % da tela*/
    box-sizing: border-box; /*Para que nenhum elemento sai da página do body*/
    background-color:#000000;    
}
.div_cabecalho{
    background:#000000;
    height:150px;     
    margin-left: 10px;
    color:#FBF8F8;
    font-family: 'Mada', sans-serif;     
    
}
.div_imagem_centro{
    height: 400px;
    width: 100%;
    background: #3a3a4032;
    margin-top: 10px;    
   
    color:#FBF8F8;
    font-family: 'Mada', sans-serif;      
    
}
.imagem_cabecalho{
    height:150px; 
    width: 50%;
    background-image: url(./cabeçalho.png);
     background-size: contain;
    border:none;
  
}
.div_rodape{
    height:150px;
    margin-top: 10px;  
    margin-left: 10px; 
    background:#3a3a4032;
    color:#FBF8F8;
    clear:both
    
    


}
